


[include mainsail.cfg]
[mcu]
serial:/dev/serial/by-id/usb-Klipper_lpc1769_0A10010C6694CF95284B6C61C62000F5-if00
restart_method: command


[printer]

kinematics: corexy
max_velocity: 500
max_accel: 5500
max_z_velocity: 10   ; Vitesse Z maximale (mm/s)
max_z_accel: 120 ; Accélération Z maximale (mm/s²)
square_corner_velocity: 8


# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1
########################################
# Configuration AXIS
########################################

[stepper_x] # A M1
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
position_endstop: 0      # obligatoire pour X/Y
endstop_pin: ^P1.29
position_min: -22
position_max: 390
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 1.05     # 0.8–1.2A typique (voir tuning)
hold_current: 0.55
stealthchop_threshold: 999   # stealthChop by default (quiet). Baisser si tu veux plus de couple à haute vitesse
interpolate: True



[stepper_y] # B M2

step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
endstop_pin: ^P1.28
position_endstop: 380      # obligatoire pour X/Y
position_min:0
position_max: 380
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 1.05
hold_current: 0.55
stealthchop_threshold: 999
interpolate: True

[stepper_z]

step_pin: P0.22
dir_pin: !P2.11        # ajouter ! si le moteur descend au lieu de monter
enable_pin: !P0.21
rotation_distance: 2
microsteps: 16
position_min: 0
position_max: 380
homing_speed: 50
second_homing_speed: 3
homing_retract_dist: 4
endstop_pin: probe:z_virtual_endstop   # BLTouch


[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.9
hold_current: 0.45
stealthchop_threshold: 30
interpolate: True

########################################
# Configuration BLTOUCH
########################################

[bltouch]
sensor_pin: ^P0.10       # signal du BLTouch
control_pin: P2.0       # contrôle du deploy/stow
x_offset: -35            # à ajuster selon montage buse → sonde
y_offset: -8             # à ajuster selon montage buse → sonde
z_offset: 0              # à calibrer avec PROBE_CALIBRATE
samples: 2
speed: 10
sample_retract_dist: 2
samples_result: median


[safe_z_home]
# Ajustement pour que le centre du plateau soit exactement à X=188.5, Y=185
home_xy_position: 223.5,185  # 188.5 + 35 = 223.5 pour compenser l'offset BLTouch
speed: 50
z_hop: 20                   # Hauteur de dégagement avant déplacement
z_hop_speed: 50

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: pid
#pid_Kp: 27.174
#pid_Ki: 12.157
#pid_Kd: 85.598
min_temp: 0
max_temp: 250
max_extrude_only_velocity : 150
max_extrude_only_accel : 1000
rotation_distance: 7.71
gear_ratio: 3:1
pressure_advance: 0.055      ; pour ton BMG 3:1
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.85
hold_current: 0.5
stealthchop_threshold: 5

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

########################################
# Configuration HEAT BED AND FANS
########################################
[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp: 77.281
#pid_Ki: 1.155
#pid_Kd: 1292.528
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[heater_fan hotend_fan]
pin: P2.4 #ok to change later
heater: extruder
heater_temp: 50

########################################
# Configuration BED MESH
########################################


[bed_mesh]
# Vitesse de déplacement pendant le mesh
speed: 100              ; légèrement plus lent pour moins de bruit
horizontal_move_z: 15      ; hauteur de Z entre les points
mesh_min: 35,30
mesh_max: 342,340
probe_count: 5,5          ; plus de points pour meilleure précision
mesh_pps: 2,2             ; interpolation douce

# Optionnel pour une surface encore plus lisse
algorithm: bicubic        ; bicubic lisse mieux les irrégularités
fade_start: 1
fade_end: 10


[screws_tilt_adjust]
horizontal_move_z: 15      ; hauteur Z lors du déplacement entre vis
speed: 40                  ; plus lent pour moins de bruit et vibrations
screw_thread: CW-M4        ; sens de vissage

# Positions optimisées des 4 vis Ender 5 Plus
screw1: 60, 60             ; Avant Gauche
screw2: 60, 340            ; Arrière Gauche
screw3: 342, 340           ; Arrière Droite
screw4: 342, 60           ; Avant Droite


[filament_switch_sensor filament_runout]
switch_pin: P1.26
pause_on_runout: True

[temperature_sensor SonicPad]
sensor_type: temperature_host
min_temp: 10
max_temp:80

[neopixel led_strip]
pin: P1.24
chain_count: 16
color_order: GRB

########################################
# MY MACROS
########################################

[gcode_macro PRINT_START]
gcode:
    G90                    ; mode absolu
    G1 Z20 F1000           ; monter Z pour dégager plateau
    G28 X Y F3000          ; home XY rapide
    SET_SERVO SERVO=bltouch ANGLE=10
    G28 Z F100             ; home Z précis
    G1 Z5 F600             ; remonter Z légèrement
    BED_MESH_CALIBRATE PROFILE=rapide method=automatic speed=200
    SAVE_CONFIG
    G92 E0                  ; reset extruder
    G1 E5 F200              ; amorçage filament lent et précis
    G1 X160 E20 F800        ; prime nozzle rapide mais stable
    G1 X180 F8000           ; wipe buse rapide et silencieux
    G1 X10 Y10 Z0.2 F3000   ; position départ
    M117 Prêt à imprimer!

[gcode_macro END_PRINT]
gcode:
    G1 Z150 F1000           ; relever tête
    G28 X Y F3000           ; home XY
    M106 S0                 ; ventilateur OFF
    M104 S0                 ; extrudeur OFF
    M140 S0                 ; lit OFF
    M84                      ; désactiver moteurs
[gcode_macro LOAD_FILAMENT]
gcode:
    G28 X Y F3000           ; home XY pour sécurité
    G1 Z50 F1000            ; monter Z
    M104 S200
    M109 S200               ; attendre température
    G91                     ; mode relatif
    G1 E100 F300            ; charger filament
    G90                     ; retour mode absolu
    M104 S0                 ; couper chauffe extrudeur



[gcode_macro UNLOAD_FILAMENT]
gcode:
    M104 S200
    M109 S200               ; attendre température
    G91                     ; mode relatif
    G1 E-100 F300           ; retrait filament
    G90                     ; retour mode absolu
    M104 S0                 ; couper chauffe extrudeur


[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos: True
variable_custom_park_x: 185.0
variable_custom_park_y: 185.0
variable_custom_park_dz: 350.0
gcode:

[gcode_macro PRECHAUFFE_PLA]
gcode:
  M104 S210
  M140 S50
  M190 S50
  M109 S210

[gcode_macro PRECHAUFFE_PETG]
gcode:
  M104 S230
  M140 S60
  M190 S60
  M109 S230

[gcode_macro PRECHAUFFE_ABS]
gcode:
  M104 S240
  M140 S75
  M190 S75
  M109 S240

[gcode_macro PID_EXTRUDER_]
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=230
    M106 P0 S200
    M106 P1 S200
    SAVE_CONFIG
    M106 P0 S0
    M106 P1 S0

[gcode_macro PID_EXTRUDER_]
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=230
    M106 P0 S200
    M106 P1 S200
    SAVE_CONFIG
    M106 P0 S0
    M106 P1 S0

[gcode_macro MESH_RAPIDE]
description: Bed mesh rapide et silencieux
gcode:
    G28 X Y F3000           ; home XY rapide
    G1 Z20 F1000            ; dégager BLTouch
    BED_MESH_CALIBRATE PROFILE=rapide method=automatic speed=200
    SAVE_CONFIG

    
    # 4. Paramètres du mesh (assurez-vous qu'ils correspondent à [bed_mesh])
    # zone de probe : mesh_min=60,60 mesh_max=350,350
    # probe_count=5,5 pour plus de précision
    # horizontal_move_z=20 pour se déplacer en sécurité
    # sauvegarde du profil à la fin pour qu'il soit utilisé sur les impressions suivantes
    SAVE_CONFIG

[gcode_macro _COIN_PLATEAU]
description: Ajustement rapide des coins du plateau
gcode:
    G28 X Y F3000           ; home XY rapide
    G1 Z20 F1000            ; dégager BLTouch
    G0 X60 Y60 F1000        ; Avant gauche
    PAUSE_PRINT
    G0 X60 Y340 F1000       ; Arrière gauche
    PAUSE_PRINT
    G0 X342 Y340 F1000      ; Arrière droite
    PAUSE_PRINT
    G0 X342 Y60 F1000       ; Avant droite
    PAUSE_PRINT
    G1 Z20 F1000
    M117 Coins ajustés




########################################################
# Calibration Extrudeur BMG Clone pour Klipper UART
########################################################

[gcode_macro CALIB_EXTRUDER_START]
description: Extrusion test pour calibrer BMG
gcode:
    M104 S230
    M109 S230
    G92 E0
    G1 E100 F50
    RESPOND PREFIX="CALIB" MSG="=> Extrusion terminée, mesurez la longueur sortie réelle"
    PAUSE

[gcode_macro CALIB_EXTRUDER_APPLY]
description: Appliquer nouvelle rotation_distance
gcode:
    SET_EXTRUDER_ROTATION_DISTANCE EXTRUDER=extruder ROTATION_DISTANCE=7.85
    RESPOND PREFIX="CALIB" MSG="=> Nouvelle rotation_distance appliquée"
    SAVE_CONFIG
    

[include input_shaper.cfg]
[input_shaper]
shaper_type: mzv
shaper_freq_x: 40
shaper_freq_y: 40


[virtual_sdcard]
path: /home/sonic/printer_data/gcodes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.819
#*# pid_ki = 2.207
#*# pid_kd = 81.461
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 76.545
#*# pid_ki = 1.100
#*# pid_kd = 1331.886
#*#
#*# [bltouch]
#*# z_offset = 10.060
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.155000, -0.102500, -0.208750, -0.216250, -0.391250
#*# 	0.120000, 0.105000, 0.040000, -0.021250, -0.168750
#*# 	0.162500, 0.276250, 0.226250, 0.243750, 0.136250
#*# 	-0.030000, -0.016250, -0.030000, 0.061250, 0.010000
#*# 	-0.182500, -0.018750, -0.082500, -0.027500, -0.226250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 342.0
#*# min_y = 30.0
#*# max_y = 340.0
